﻿
#CurrencyResult, #SelectedCurrencyAmount, #SelectedCurrency {
    margin: 30px 0;
    display: inline-block;
}

.input-group-text {
    display: inline-block;
    margin: 0 20px;
}

#submitCurrency {
    height: 37px;
    margin-bottom: 5px;
}