﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center mt-5">
        <h1 class="display-4">Currency Calculator</h1>
        <span>Convert the Currency</span>
        <input class="input-group-text" type="number" id="inputtedAmount" />
        <select id="ConvertFrom" class="input-group-text">
            <option id="ConvertFromOption">EUR</option>
            <option id="ConvertFromOption">USD</option>
            <option id="ConvertFromOption">GBP</option>
        </select>
        <span>Convert To</span>
        <select id="ConvertTo" class="input-group-text">
            <option>EUR</option>
            <option>USD</option>
            <option>GBP</option>
        </select>

        <button type="submit" id="submitCurrency" class="btn btn-primary">Submit</button>

        <br />
        <span id="SelectedCurrencyAmount"></span>
        <span id="SelectedCurrency"></span>
        <span id="CurrencyResult"></span>
        <span id="CurrencyTo"></span>


    </div>


<script>

    $('#inputtedAmount').on('keyup', function () {
        var inputtedAmount = $('#inputtedAmount').val();
        var convertTo = $('#ConvertTo').val();

        $('#SelectedCurrencyAmount').html(inputtedAmount);

    })

    $('#ConvertFrom').on('click', function () {
        var inputtedAmount = $('#inputtedAmount').val();
        var convertFrom = $('#ConvertFrom').val();

        $('#SelectedCurrency').html(" " + convertFrom + " = ");
            $('#CurrencyTo').html("");
            $('#CurrencyResult').html("");

    })



    $('#submitCurrency').on('click', (function () {

        var inputtedAmount = $('#inputtedAmount').val();
        var convertTo = $('#ConvertTo').val();
        var convertFrom = $('#ConvertFrom').val();

        $.ajax({
            url: "/CurrencyConvert/ConvertTotal",
            datatype: "text",
            data: { 'InputtedAmount': inputtedAmount, 'ConvertFrom': convertFrom, 'ConvertTo': convertTo },
            success: function (data) {
                $('#CurrencyResult').html(data);
                $('#CurrencyTo').html(" " + convertTo);

            },
            error: function () {
                $("#CurrencyResult").html("ERROR");
            }
        }).done(function (data) {
            $('#CurrencyResult').html(data);
        }).always(function () {
            if ($("#CurrencyResult").is(':empty')) $('#CurrencyResult').html('No results !');
        });
    }));

</script>
